@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-purple: 36 5 62;
  --color-eucaplyptus: 68 255 161;
  --color-davys-grey: 88 77 98;
  --color-ghost-white: 253 250 255;
  --color-white: 255 255 255;
}

@layer utilities {
  .padding-x {
    @apply px-[16px];
  }
  .padding-body-b {
    @apply pb-[64px] md:pb-[120px] xl:pb-[110px];
  }
  .container-wide {
    @apply w-full max-w-[1110px] mx-auto;
  }
}

.rounded-bottom-large {
  border-bottom-right-radius: 100% 15%;
  border-bottom-left-radius: 100% 15%;
}
.rounded-bottom-small {
  border-bottom-right-radius: 160% 10%;
  border-bottom-left-radius: 160% 10%;
}
