@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base-100: 255 255 255;
  --color-base-200: 250 250 250;
  --color-base-300: 244 245 247;
  --color-base-content: 149 151 165;
  --color-base-content-heading: 45 49 77;

  --color-primary: 51 211 94;
  --color-primary-200: 42 182 217;
  --color-primary-content: 255 255 255;
  --color-secondary: 255 83 49;
  --color-secondary-content: 255 255 255;
}
/* Currently same as light but just for case if dark mode is implemented */
:root[class~="dark"] {
  --color-base-100: 255 255 255;
  --color-base-200: 250 250 250;
  --color-base-300: 244 245 247;
  --color-base-content: 149 151 165;
  --color-base-content-heading: 45 49 77;

  --color-primary: 51 211 94;
  --color-primary-200: 42 182 217;
  --color-primary-content: 255 255 255;
  --color-secondary: 255 83 49;
  --color-secondary-content: 255 255 255;
}
@layer components {
  .mobile-padding-x {
    @apply px-[24px];
  }
  .flex-col-center {
    @apply flex flex-col items-center;
  }
  .container-wide {
    @apply w-full max-w-[1110px] mx-auto;
  }
}
@layer utilities {
  .primary-gradient {
    @apply bg-gradient-to-br from-primary to-primary-200;
  }
}

/* 
.primary-gradient {
  background: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-primary-200) 99.58%
  );
} */
