@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-x {
    @apply px-[24px];
  }
  .container-wide {
    @apply w-full max-w-[1160px] mx-auto;
  }
  .hero-gradient {
    @apply bg-gradient-to-br from-[#D6FCFE]/0 to-[#D6E6FE];
  }
  .tips-gradient {
    @apply bg-gradient-to-br from-[#D6FCFE]/0 to-[#D6E6FE]/20;
  }
  .results-gradient {
    @apply bg-gradient-to-r from-[#345FF6] to-[#587DFF];
  }
}

.box-shadow {
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.rounded-left-borders {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
